<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Welcome to SuccessPath!</h3>
    <p>
      We are very much looking forward to seeing you succeed and hearing your success story as a result of using our simple system.
    </p>
    <p>
      To login to the site, just follow this link: <%= link_to 'Login', @url %>.
    </p>
    <p>
      Go get 'em!
    </p>

    <p>Thank you,</p>
      <p>David Edkins</p>
      <br/>Creator
      <br/>SuccessPath.me
  </body>
</html>