<div class="sectionsquare">
		<div style="float:right"><%= button_to "Edit", edit_member_registration_path(@member), :method => 'get', :class => 'button' %></div>
		<div class="sectiontitle"><%= @member.actiontitle %></div>
	<div class="quote">
		"<%= @member.actionquote %>"
	</div>
</div>
<div style="clear:both"></div>