<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front" style="background:black">
		  	<div class="sectiontitle" style="color:white">
		    	What Is It?
		    </div>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>What Is It?</name><br/>
	        		<description>
	        			Successpath.me is geared for people that want to change themselves...and ultimately
	        			change their life.  It is designed to be a straightforward quick method to review goals and
	        			affirmations on a daily basis - allowing you a simple push each day to meet them.
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>
<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front" style="background:orange">
		    <div class="sectiontitle" style="color:white">How Does It Work?</div>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>How Does It Work?</name><br/>
	        		<description>
	        			That's up to you.  You simply add the goals you want to achieve in the goals tab, then add 
	        			some tasks to accomplish them.  Then add some personal affirmations to help you rewire the 
	        			way you look at things...then look at them each	day.
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>
<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front">
		    <iframe width="305" height="250" src="//www.youtube.com/embed/hzBCI13rJmA?rel=0" frameborder="0" allowfullscreen></iframe>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>Add Your Motivational Videos</name><br/>
	        		<description>
	        			Flip back over and watch this video some more.
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>
<div class="box">
	<div style="height:250px;width:250px;margin:0 25px"/>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-5451064655705220";
		/* block */
		google_ad_slot = "3023406262";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="//pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front">
		    <div class="flexslider" style="width:300px">
			  <ul class="slides">
			    <% @affirmations.each do |affirmation| %>
			      <li style="padding:85px 0;font-size:1.5em;line-height:.9em;font-weight:normal">
			        <%= affirmation.title %>
			      </li>
			    <% end %>
			  </ul>
			</div>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>Create Your Own Affirmations</name><br/>
	        		<description>
	        			Flip back over and see recent real affirmations created by our members!
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>
<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front" style="background:#31b7ea">
		    <div class="sectiontitle" style="color:white">How Much?</div>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>How Much?</name><br/>
	        		<description>
	        			Free.  Yup.
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>
<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front" style="background:black">
		    <div class="sectiontitle" style="color:white">How Do I Start?</div>
		  </div>
		  <div class="back">
		    <wordbox>
        		<name>How Do I Start?</name><br/>
	        		<description>
	        			You can become a member by clicking <%= link_to 'HERE', new_member_registration_path %>.
	        		</description>
        	</wordbox>
		  </div>
		</div>
	</div>
</div>


<%= render 'goals/goaltiles_next30' %>

<div class="box">
	<div style="height:250px;width:250px;margin:0 25px"/>
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-5451064655705220";
		/* block */
		google_ad_slot = "3023406262";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="//pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
