<div class="box">
	<div class="flip-container" ontouchstart="this.classList.toggle('hover')">
		<div class="flipper">
		  <div class="front" style="background:black;color:white;text-align:center;font-size:1.5em">
		    <div class="sectiontitle">
			<% if @member.mainlifetitle? %>
				<%= @member.mainlifetitle %>
			<% else %>
			Life Statement
			<% end %>
		</div>
		  </div>
		  <div class="back">
        <div class="wordbox-padding">
		    <wordbox>
	        		<description>
	        			<div class="quote">
							"<%= @member.mainlifequote %>"
						</div>
	        		</description>
        	</wordbox>
        </div>
		  </div>
		</div>
	</div>
</div>