<div class="sectionsquare">
		<div style="float:right"><%= button_to "Edit", edit_member_registration_path(@member), :class => 'button', :method => 'get' %></div>
		<div class="sectiontitle">
			<% if @member.mainlifetitle? %>
				<%= @member.mainlifetitle %>
			<% else %>
			Life Statement
			<% end %>
		</div>
	<div class="quote">
		"<%= @member.mainlifequote %>"
	</div>
</div>
<div style="clear:both"></div>

