<% currently_at 'Goals'%>

<div class="topstatement">
	<% if member_signed_in? %>
		<% if @goals == nil %>
		Looks like we should add a few goals, click the button below
		<% else %>
		Making progress - I like it!  Keep it up!  Remember to review them every day.
		<% end %>
	<% else %>
		Below are actual goals created and used by current members, become a member and create your own.  Here's the key - these are not basic everyday goals, to get the most of these, reserve for those goals that will push you to new levels that help you grow.  Become a member today!
	<% end %>
</div>

<div class="topbanner">
	<% if member_signed_in? %>
		<%= link_to 'Add New Goal', new_goal_path, :method => 'get', :class => 'button-link' %>
	<% else %>
		<%= link_to 'Become a Member', new_member_registration_path, :class => "button-link" %> and Create Your Own Goals Like These!
	<% end %>
</div>

<div class="container">

	<div class="box">
		<iframe width="300" height="250" src="//www.youtube.com/embed/wvvbcVxA5Y4?autoplay=1&rel=0"></iframe>
	</div>

	<%= render 'goaltiles_next30' %>

	<div class="box">
		<div style="height:250px;width:250px;margin:0 25px"/>
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-5451064655705220";
			/* block */
			google_ad_slot = "3023406262";
			google_ad_width = 250;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>

	<%= render 'goaltiles_future' %>

	<div class="box">
		<div style="height:250px;width:250px;margin:0 25px"/>
			<script type="text/javascript"><!--
			google_ad_client = "ca-pub-5451064655705220";
			/* block */
			google_ad_slot = "3023406262";
			google_ad_width = 250;
			google_ad_height = 250;
			//-->
			</script>
			<script type="text/javascript"
			src="//pagead2.googlesyndication.com/pagead/show_ads.js">
			</script>
		</div>
	</div>	
		
</div>