@media screen and (max-width: 1124px){
}

@media screen and (max-width: 968px){
	.yield {
		width:100%;
	}

	.header {
		width:100%;
	}
	.leftpage {
		width:95%;
	}
	.sidebar {
		display:hidden;
	}
	.topbanner {
		width:100%;
	}
	.sectionsquare {
		width:100%;
	}
	.container {
		width:100%;
	}
}