<div style="margin:auto;width:960px">
<table width="100%">
	<tr>
		<td>
			<%= image_tag("Logo.png", size:"400x70") %>
		</td>
		<td width="400px">
          <%= yield :main_navigation %>
        </td>
		<td width="300px" style="margin-top:0;text-align:right;padding-right:90px">
			<nav id="utility">
			    name here
			</nav>
		</td>
	</tr>
</table>

