<% content_for :main_navigation do %>

	<nav id="main_nav" role="navigation">
	  <ul>
	    <%= nav_tab 'Home', pages_home_path, current: current_tab %>
	    <%= nav_tab 'Goals', goals_path, current: current_tab %>
	    <%= nav_tab 'Tasks', tasks_path, current: current_tab %>
	    <%= nav_tab 'Affirmations', affirmations_path, current: current_tab%>
	  </ul>
	 </nav>

<% end %>