<html style="bgcolor:#e9e9e9">

<div style="border:15px solid #333333;padding:30px;margin:auto;width:80%">
	<div style="margin:10px 0">
		<%= image_tag("http://www.successpath.me/assets/Logo.png", :size => "320x60") %>
	<div>

	<%= yield %>


</div>

</html>